extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Skyler Rivera

        p Full Stack Web Developer


        .about-bio

          p Over the past half year, I have built around 4 Full Stack projects from scratch. I have been able to move up in my current organization to a role of Apprentice Software Engineer while completing a 6 month long bootcamp. In addition, I have also begun this Treehouse Full Stack Tech Degree. I am a life-long learner and I strive to empower those that I am fortunate enough to work with. I have fully committed to a life of learning within Software Engineering and I believe this makes me a fantastic candidate for a Software Engineer position.


      .skills-contact-box.box
        h6 Skills

        ul
          li JavaScript
          li React
          li Git and GitHub
          li Express/Node
          li Amazon Bucket Hosting
          li Fetch and Public APIs
          li PostgreSQL
          li Sequelize ORM
          li OOP
          li HTML
          li CSS

        h6 Contact Info

        ul
          li skylerrivera17@yahoo.com

        a.btn-link(href='https://www.linkedin.com/in/skyler-rivera/') LinkedIn
        a.btn-link(href='https://github.com/sriveragithub') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back