extends layout.pug

block content

  article.portfolio-intro

    h1 Skyler Rivera - Full-stack Web Developer Portfolio

    p This portfolio was built using the technical knowledge gained from Unit 6 of the Treehouse Full Stack Tech Degree. This project combines some of the most recent programming principles I've learned such as Node/Express app creation, routing, templating, and more. With this project, I have successfully created a Full Stack application complete with error handling and modern organization programming.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in data
        .cell
          a(href=`http://localhost:3000/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name